[defaults]
inventory = inventory/example.ini
roles_path = ansible/roles
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
timeout = 20
forks = 10
deprecation_warnings = True

[privilege_escalation]
become = True
become_method = sudo
become_user = root
